body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.lapBox {
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  display: inline-block;
}
.lapNumber {
  display: block;
  font-size: .75em;
}
.lapTime {
  display: block;
  font-weight: bold;
  font-size: 2em;
}
.previousSplits {
  font-size: .5em;
  color: grey;
}

.lapList {
  display: block;
  font-size: 0.5em;
}

.runningTime {
  display: flex;
  align-items: left;
  margin-left: 28%;
}

